name: Build And Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: jirarust_linux
            binary_name: jirarust
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: jirarust_macos_intel
            binary_name: jirarust
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: jirarust_macos_apple_silicon
            binary_name: jirarust
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        targets: ${{ matrix.target }}

    - name: Build Binary
      run: cargo build --release --target=${{ matrix.target }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact_name }}
        path: target/${{ matrix.target }}/release/${{ matrix.binary_name }}

  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      
    - name: List files for verification
      run: find . -type f -name "jirarust*" | head -10

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.run_number }}
        files: |
          jirarust_linux/jirarust
          jirarust_macos_intel/jirarust
          jirarust_macos_apple_silicon/jirarust
